.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary-80);
  z-index: 1000;
}

.spinner {
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
  border: 4px solid var(--bg-secondary);
  border-top: 4px solid var(--spinner-color);
  border-radius: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 